body{
    font-family:'Times New Roman', Times, serif !important;
    font-size: large !important;
}

/*TOPO DA PÁGINA*/
.home{
    padding: 3px;
}

.home:hover{
    border: 1px solid rgb(113, 113, 113) !important;
    border-radius: 10px;
    background-color: rgb(241, 187, 106);
    padding: 2px;
}

/*CABECALHO*/
.titulo{
    background-color: rgb(253, 216, 156) !important;
    border: 1px solid rgb(113, 113, 113) !important;
}

.item{
    border: 1px solid rgb(113, 113, 113) !important;
}

/*BOTAO*/
.botao-int{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao .restart{
    background-color: black;
    color: white;
}

.item-dificuldade{
    border-radius: 10px !important;
    color: rgb(35, 35, 35) !important;
    font-weight: bold !important;
}

.item-dificuldade:hover{
    border: 1px solid rgb(113, 113, 113) !important;
    border-radius: 10px !important;
}
