table, th, td{
    border:1px solid black;
}

th, tr{
    font-size: 20px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
    text-align: center;
}

#botao{
    margin: 10px;
}
