*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: blanchedalmond;
}

ul, li{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: column;
}

/*CABECALHO*/
.titulo{
    text-align: center;
    padding: 30px;
}

.titulo-int{
    text-align: center;
    font-size: 20px;
}

/*CONTEUDO*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-int{
    display: flex;
    flex-direction: column;
    font-size: 20px;

    width: 40%;
}

.content-quadro{
    border: 1px solid;
}

.quadro li{
    padding: 5px;
    text-align: center;

    border: 1px solid;
}

.quadro li:first-child{
    background-color: rgb(250, 215, 162);
}

/*BOTAO*/
.botao-int{
    text-align: center;
}

#botao{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    
    border-radius: 10px;
    background-color: rgb(236, 174, 82);
}

@media screen and (max-width: 480px) {
    body {
        min-width: 200px;
        max-width: 480px;
    }

    .content-int{
        width: 80%;
    }
  }