*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: blanchedalmond;
}

.container{
    display: flex;
    flex-direction: column;
}

/*CABECALHO*/
.titulo{
    text-align: center;
    padding: 30px;
}

.titulo-int{
    text-align: center;
    font-size: 20px;
}

/*CONTEUDO*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-int{
    display: flex;
    flex-direction: row;
    font-size: 100%;
    overflow: auto;

    min-width: 430px;
    max-width: 600px;
}

.item{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.item div{
    border: 1px solid black;
    padding: 3px;
}

.content-int .item-title{
    background-color: rgb(253, 216, 156);
}

/*BOTAO*/
.botao-int{
    text-align: center;
}

#botao{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    
    border-radius: 10px;
    background-color: rgb(241, 187, 106);
}

@media screen and (max-width: 430px) {
    body {
        min-width: 200px;
        max-width: 430px;
    }

    .content-int{
        min-width: 90%;
        font-size: 80%;
    }
    
  }